* {
    margin: 0;
    padding: 0;
}

body {

    background: #fff !important;
}


ul,
ol {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: 0.5s;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}


/*=================================
      header top part css start
===================================*/
.header-top {
    width: 100%;
    background: rgb(15, 47, 68);
    color: #fff;
    padding: 7px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.right {
    text-align: right;
}
/*=================================
      header-top part css end
===================================*/
/*=================================
      nabvar part css start
===================================*/
nav{
    padding: 0 !important;
        position:static!important;
        width: 100%;
        z-index: 9999;
     transition: .6s ease-in-out;
}
.navbar-brand{
    padding: 30px 0 !important;
    transition: .4s ease-in-out;
}
nav ul .nav-item{
        display: block;
        margin-right: 15px;
       
        text-decoration: none;
        font-weight: 800;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        transition: .4s ease-in-out;
}

nav ul .titu{
    margin-right: 50px;
}
nav ul li .active{
    background: rgba(0, 195, 255,.3);
    padding: 32px 15px ;
}
nav ul li a:hover{
    background: rgba(0, 195, 255,.3);
    color: #000 !important;
}
nav ul li a{
    display: inline-block;
    color: #000;
    padding: 32px 15px !important;
}
nav ul li a:hover{
    color: #000;
}
/* DOM, ES6, Object, REGEX, manipulating Object/array value  */

nav ul li .dropdown-item{
    padding: .55rem 1.5rem !important;
    transition: .4s ease-in-out;
}
nav ul li .dropdown-item:hover {
    background: rgba(0, 195, 255,.5);;
    color: #000 !important;
}
nav .ul{
    margin:0px !important;
    text-align: right;
}
nav .ul .aler i{
    width: 35px;
    height: 35px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    margin-left: 7px;
    transition: .4s;
}
nav .ul .aler i:hover{
    background: rgb(15, 47, 68);
    border-color:rgb(15, 47, 68) ;
    color: rgb(221, 139, 45);
}
.fixed{
    position: fixed !important;
    top: 0;
    left: 0;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #d6d6d6;  
    animation:mymove .8s ease-in-out;
}
@keyframes mymove {
    from {
        top: -65px;
    }
    to {
        top:0px;
    }
  }
.fixed .navbar-brand{
    background: transparent;
    text-align: center;
    line-height: 0px;
    position: static;
    padding: 30px 0 !important;

}

.beta {
    height: 663px;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 41px;
    left: 0;
    display: flex;
    display: none;
}
.beta input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    border: 1px solid #fff;
    padding: 15px 20px;
    background: #fff;
    border-radius: 25px;
    outline: 0;
    font-size: 18px;
    font-weight: 400;
}
.beta .cross {
    color: white;
    background: red;
    border: 1px solid #fff;
    padding: 3px 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
.beta .tea {
    font-size: 25px;
    position: absolute;
    top: 48%;
    right: 24%;
    transform: translateX(-50%);
} 
/*=================================
      nabvar part css end
===================================*/
/*=================================
      banner part css start
===================================*/
#banner {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0;
}
#banner h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #0f2f44;
    letter-spacing: 1px;
}
#banner h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
    color: #0f2f44;
    letter-spacing: 1px;
}
#banner .our {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #aab0d8;
    letter-spacing: 12px;
    margin-bottom: 5px;
}
#banner .details {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight:500;
    width: 470px;
    line-height: 25px;
}
#banner .play {
    border-radius: 50%;
    margin-left: 10px;
}
#banner a {
    text-decoration: none!important;
    display: inline-block;
    color: white;
    /* background: #8484bf; */
    padding: 15px 20px;
    margin-top: 25px;
    /* border: 1px solid #8484bf; */
    border-radius: 5px;
    transition: .5s;
    background-size: 200% auto;
}
/* #banner a:hover {
    background: white;
    color: #8484bf;
} */
.btn-grad {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%)
}
.btn-grad:hover {
     background-position: right center; 
}
/*=================================
      banner part css end
===================================*/
/*=================================
      about part css start
===================================*/


#banner2 {
    width: 100%;
    height: 500;
    margin: 0 auto;
   padding-top: 100px;

}


#banner2 .image img {
    width: 100%;
    height: 100%;
}

#banner2 .deta .who {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #0f2f44;
}

#banner2 .deta .about {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    margin-bottom: 32px;
    margin-top: -8px;
}

#banner2 .deta .about-details {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 21px;
    width: 500px;
}

#banner2 ul {

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 30px;

}

#banner2 ul li {
    margin-bottom: 20px;
    margin-left: 30px;
}

#banner2 a {
    display: inline-block;
    text-decoration: none!important;
    color: #0f2f44;
    background: #fff;
    padding: 8px 20px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 12px;
    border-radius: 5px;
    box-shadow: 4px 8px 30px 0px rgba(0,0,0,0.2);

}

#banner2 a:hover {
    background: #f49220;
    color: #000;
    border: 0;
    box-shadow: 4px 8px 30px 0px rgba(0,0,0,0.0);
}

.m img {
    width: 100%;
    height: 600px;
}

/*=================================
      about part css end
===================================*/
/*=================================
    our-skills css start
===================================*/
#our-skills {
    /* height: 550px; */
    width: 100%;
  padding-top: 100px;
  margin-bottom: 40px;
}

#our-skills .skills {
    height: 100%;
    width: 100%;
}

#our-skills .left {
    position: relative;
}

#our-skills .left img {
   
    height: 500px;
    position: absolute;
    top: 0%;
    left: -50%;
    transform: translateX(25%);
   

}

#our-skills .good {
    
    text-align: right;
}

#our-skills .good h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0f2f44;

}

#our-skills .good h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
    text-transform: capitalize;
    margin-bottom: 0px;

}

#our-skills .good p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #0f2f44;
    margin-bottom: 0px;

}

#our-skills .right {
    width: 100%;
    float: left;
    height: 370px;
    display: flex;



}

#our-skills .right .better {
    width: 84%;
    margin-top: 0px;

}

#our-skills .right .best {
    width: 16%;
    height: 370px;

}

#our-skills .right .best .ft {
    height: 70px;
    width: 70px;
    margin-left: 13px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 64px;
    border: 1px solid rgba(68, 68, 68, .5);
    margin-left: auto;
    margin-top: 18px;
}

#our-skills .right .best .ft1 {
    margin-top: 37px;
}

#our-skills .right .better .barfiller {
    width: 78% !important;
    transform: rotate(180deg);
    margin-top: 73px;
    border-radius: 10px;
    margin-left: auto;
    height: 15px;
}

#our-skills .right .better .barfiller p {
    font-size: 14px;
    color: #444444;
    font-weight: bold;
    transform: rotate(180deg);
    padding-bottom: 2px;
}

#our-skills .right .better .barfiller .fill {

    border-radius: 10px;
}

#our-skills .right .better #bar1 .fill {
    background: rgb(42, 72, 150) !important;
}

#our-skills .right .better #bar2 .fill {
    background: rgb(93, 59, 21) !important;
}

#our-skills .right .better #bar3 .fill {
    background: rgb(52, 74, 31) !important;
}

#our-skills .right .better #bar4 .fill {
    background: rgb(57, 41, 96) !important;
}

#our-skills .right .better .barfiller .tip {
    transform: rotate(180deg) !important;
    margin-top: 15px !important;
    background: transparent !important;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    padding-right: 32px;
    /* left: 325px !important; */
}

#our-skills .right .better .barfiller .tip:after {
    border-color: transparent !important;
}

/*=================================
    our-skills css end
===================================*/
/*=================================
      our sevices part css start
===================================*/
#ourservice {
    width: 100%;
    background: #f5f5f5;
    padding-top: 35px;
}

.t {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;

}

#ourservice .title {
    text-align: center;

}

#ourservice .title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0f2f44;


}

#ourservice .title .os {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
}

#ourservice .left {
    background: #eeeeee;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;

}

#ourservice .left .img {
   padding: 42px 20px;
    background: #e9e9e9;
   
}


#ourservice .left .text {
    padding-left: 11px;
    padding-top: 14px;
  
    text-align: center ;
}

#ourservice .left .text h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #222222;
}

#ourservice .left .text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #444444;
    margin-top: 10px;
    line-height: 20px;
    text-align: left;
}


#ourservice .left .overlay {
    width: 0;
    height: 100%;
    background: #0f2f44;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .7s;
   text-align: center !important;
    

}

#ourservice .left:hover .overlay {
    width: 100%;
    opacity: 1;

}

#ourservice .left .overlay img {
    margin-top: 30px;
    
    display: inline-block;
    
    
    
}


#ourservice .left .overlay p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;

}

#ourservice .left .overlay a {
    display: inline-block;

}


#ourservice .left .overlay a i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    background: #ffffff;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    transition: .4s;
    text-align: center;
  
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.75);
}

#ourservice .left .overlay a:hover i {
    background: #f49220;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}

.t .slick-list{
    height: 183px;
}
/*=================================
      our sevices part css end
===================================*/

/*=================================
      pricing part css start
===================================*/
#pricing {
    width: 100%;
   
    margin-top: 50px;



}

#pricing .v {
    display: flex;
    justify-content: space-between;

}

#pricing .title {
    text-align: center;

}

#pricing .title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0f2f44;


}

#pricing .title .os {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
}

#pricing .price {
    
    background: #f1f1f1;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
    transition: .4s;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    transform: scale(.7);
    transition: 2s;
}
#pricing .slick-current{
    transform: scale(.9);
}


#pricing  .slick-current h4{
    background: #ffc107!important;
    color: #0f2f44!important;
}

#pricing .slick-current a{
    background: #ffc107;
    color: #0f2f44;
}

#pricing .slick-current p {

    color: #ffc107!important;
}

#pricing .slick-current ul {
    color: #fff!important;
}

#pricing .slick-current {
    background: #0f2f44;
}
#pricing .price h4 {
    background: #0f2f44;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: .4s;
}

#pricing .price img {
    margin-top: 30px;
    display: inline-block;
}

#pricing .price p {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    color: #0f2f44;
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}

#pricing .price p span {
    font-size: 32px;
}

#pricing .price ul {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #444444;
}

#pricing .price ul li {
    margin-bottom: 16px;
}

#pricing .price a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #0f2f44;
    padding: 8px 20px;
    border: 1px solid #0f2f44;
    border-radius: 5px;
    display: inline-block;
    transition: .4s;
}

#pricing .price:hover h4 {
    background: #ffc107;
    color: #0f2f44;
}

#pricing .price:hover a {
    background: #ffc107;
    color: #0f2f44;
}

#pricing .price:hover p {#
    color: #ffc107;
}

#pricing .price:hover ul {
    color: #fff;
}

#pricing .price:hover {
    background: #0f2f44;
}

/*=================================
      pricing part css end
===================================*/

/*=================================
      expert team part css start
===================================*/
#expart {
    width: 100%;
    margin-top: 50px;
}

.w {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#expart .title {
    text-align: center;

}

#expart .title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0f2f44;


}

#expart .title .os {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
}

#expart .member {
    height: 400px;
    width: 30%;
    border-radius: 5px;
    position: relative;
    margin-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
    transform: scale(.9);
}

#expart .member img {
    width: 100%;
    height: 100%;

}

#expart .member .details {

    background: #ffc712;
    padding-top: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    transition: linear .6s;



}

#expart .member .details h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #222222;
}

#expart .member .details p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    padding-top: 3px;
  

}

#expart .member .details ul {
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    margin-bottom: 0;
}

#expart .member .details ul li {
    display: inline-block;

}

#expart .member .details ul li a {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;


}

#expart .member .details ul li a i {
    margin-right: 22px;

}

#expart .member .details ul li a i:hover {
    color: #ffc712;


}

#expart .member:hover .details {
    background: #0f2f44;
    padding-bottom: 30px;
}

#expart .member:hover h3 {
    color: #fff;
}

#expart .member:hover p {
    color: #fff;
}

#expart .member:hover ul {
    opacity: 1;
    visibility: visible;

}

.w .prev {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    background: #ffc712;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-40%);
    transition: .5s;
    z-index: 1;
   
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}

.w .prev:hover {
    background: #fff;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}


.w .next {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    background: #ffffff;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-50%,-50%);
    transition: .5s;
    z-index: 1;
    
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}

.w .next:hover {
    background: #ffc712;
      
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}
#expart .btnn{
    text-align: center;
}
#expart .btnn .browse {
    display: inline-block;
    text-decoration: none;
    background: #ffffff;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
    color: #0f2f44;
    padding: 10px 20px;
   margin-top: 80px;
   margin-bottom: 80px;
  
   
    transition: .5s ease-in-out;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}

#expart .browse:hover {
    background: #ffc712;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}



/*================================
      expart  part css end
===================================*/

/*=================================
      protfolio css start
===================================*/
#protfolio {
    width: 100%;
    margin-top: 30px;



}

#protfolio .x{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#protfolio .title {
    text-align: center;

}

#protfolio .title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0f2f44;


}

#protfolio .title .os {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
}

#protfolio .member {
    height: 400px;
    width: 30%;
    border-radius: 5px;
    position: relative;
    margin-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
    transform: scale(.9);
}

#protfolio .member img {
    width: 100%;
    height: 100%;


}

#protfolio .member .details {
    width: 100%;
    height: 65px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
    opacity: 0;
    transition: .6s;


}

#protfolio .member .details p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #0f2f44;
    text-align: center;
    line-height: 60px;

    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.25);
}

#protfolio .member:hover .details {
    opacity: 1;
}
















.x .prev {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    background: #ffc712;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-40%);
    transition: .5s;
    z-index: 1;
   
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}

.x .prev:hover {
    background: #fff;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}


.x .next {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    background: #ffffff;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-50%,-50%);
    transition: .5s;
    z-index: 1;
    
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}

.x .next:hover {
    background: #ffc712;
      
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}
#protfolio .btnn{
    text-align: center;
}
#protfolio .btnn .browse {
    display: inline-block;
    text-decoration: none;
    background: #ffffff;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
    color: #0f2f44;
    padding: 10px 20px;
   margin-top: 80px;
   margin-bottom: 80px;
    transition: .5s ease-in-out;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}

#protfolio .browse:hover {
    background: #ffc712;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}
/*=================================
      protfolio css end
===================================*/
/*=================================
      testimonial part css start
===================================*/
#testimonial {
    width: 100%;
   padding: 40px 0;
    background: #f5f5f5;

}


#testimonial .title {
    text-align: center;
    padding-bottom: 30px;

}

#testimonial .title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0f2f44;


}

#testimonial .title .os {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
}

#testimonial .member {
   
    background: #e9e9e9;
    padding-left:0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right:15px;
    border-radius:7px ;
    display: flex;
    

}



#testimonial .member img {
    width: 100%;
    height: 100%;
}

#testimonial .member .text {
   
   
    margin-top: 20px;
    margin-left:30px;
}

#testimonial .member .text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0f2f44;
    width: 325px;
   
}

#testimonial .member .text h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #0f2f44;
    padding-top: 6px;
}

#testimonial .member .text h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0f2f44;

}
#testimonial .prev {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    background: #ffc712;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-34%,-40%);
    transition: .5s;
    z-index: 1;
   
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}

#testimonial.prev:hover {
    background: #fff;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}


#testimonial .next {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    background: #ffffff;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: -1%;
    transform: translate(1%,-50%);
    transition: .5s;
    z-index: 1;
    
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}

#testimonial .next:hover {
    background: #ffc712;
      
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}
/*=================================
      testimonial css end
===================================*/
/*=================================
       blog part css end
===================================*/

#blog  {
    width: 100%;
    margin-top: 50px;

}

#blog  .x{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#blog  .title {
    text-align: center;

}

#blog  .title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0f2f44;


}

#blog  .title .os {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
}

#blog .member {
   
    width: 30%;
    border-radius: 5px;
   padding: 20px;
    background: #f5f5f5;
    transition: .5s;
    transform: scale(.9);
}

#blog .member img {
    width: 100%;
    


}

#blog .member .details {
    width: 100%;
   
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
   
    
    
    
    


}

#blog .member .details p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #777777;
    margin-top: 30px;
    transition: .5s;
    
}

#blog .member .details h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #222222;
    padding-top: 0px;
    padding-bottom: 10px;
    transition: .5s;
}
#blog .member .details a{
    display: inline-block;
    text-decoration: none!important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #777777;
    text-transform: capitalize;
    transition: .5s;
}

#blog .member .details a i{
    margin-left: 10px;
    transition: .5s;
}

#blog .member:hover{
    background:#0f2f44 ;
}



#blog .member:hover .details a i{
    color: #fff;
}

#blog .member:hover .details a{
    color: #fff;
}

#blog .member:hover .details h1{
    color: #fff;
}

#blog .member:hover .details p{
    color: #fff;
}











.zee .prev {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    background: #ffc712;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-34%,-40%);
    transition: .5s;
    z-index: 1;
   
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}

.zee .prev:hover {
    background: #fff;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}


.zee .next {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    background: #ffffff;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-34%,-50%);
    transition: .5s;
    z-index: 1;
    
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}

.zee .next:hover {
    background: #ffc712;
      
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}
#blog .btnn{
    text-align: center;
}
#blog .browse {
    display: inline-block;
    text-decoration: none;
    background: #ffffff;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
    color: #0f2f44;
    padding: 10px 20px;
   margin-top: 80px;
   margin-bottom: 80px;
    transition: .5s ease-in-out;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}

#blog .browse:hover {
    background: #ffc712;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.0);
}






/*=================================
       blog part css end
===================================*/
/*=================================
       footer part css end
===================================*/

#footer{
    background: #f5f5f5;
    width: 100%;
   position: relative;
    margin-top: 40px;
    padding-top: 80px;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.20);
    box-shadow: 1px 0px 50px -3px rgba(0, 0, 0, 0.20);
}
#footer .back-to-top {
    width: 70px;
    height: 70px;
    background: #ffc712;
    color: #ffffff;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
}
#footer .a{
    background:transparent;
   margin-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
   
}
#footer .a p{
    padding: 30px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 260px;
}
#footer .a .icon li{
    display: inline-block;
}
#footer .a .icon li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #0f2f44;
    font-size:20px;
    border: 1px solid #0f2f44;
    border-radius: 50%;
    text-align: center;
    margin-right: 7px;
}
#footer .a .icon li a:hover{
    background: #0f2f44;
    color: #fff;
}
#footer .b{
    background: transparent;
    margin-bottom: 60px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    transform: scale(.97);
}

#footer .b h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
#footer .b .icon{
    display: flex;
    margin-top: 27px;
}
#footer .b .icon i{
    margin-right: 20px;
    font-size: 24px;
    color: #777777;
}
#footer .b .icon p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300px;
    color: #777777;
}
#footer .b .icon .num{
    width: 110px;
}

#footer .c{
    background: transparent;
    margin-bottom: 60px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
#footer .c h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
}
#footer .c p a{
    display: inline-block;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    text-decoration: none;
    transition: .7s ease-in-out;
}
#footer .c p a:hover{
    color: #0f2f44;
    margin-left: 20px;
    text-decoration: none;
}
#footer .d{
    background: transparent;
    margin-bottom: 60px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
#footer .d h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
#footer .d ul{
    margin-top: 40px;
}
#footer .d ul li{
   
        display: inline-block;
        margin-bottom: 8px;
        margin-right: 3px;
        transform: scale(.9);
}


.footer-bottom{
    background: #f1f1f1;
    padding: 12px 0;
    -webkit-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 0px 14px -3px rgba(0, 0, 0, 0.30);
}
.footer-bottom ul{
    margin: 0 auto;
    text-align: center;
}
.footer-bottom ul .bd{
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    padding-left: 13px;
    
}
.footer-bottom ul li {
    display: inline-block;
    position: relative;
   
    padding-right: 13px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
}
.footer-bottom ul li span {
    color: #fcc512;
}
/*=================================
       footer part css end
===================================*/